@tailwind base;
@tailwind components;
@tailwind utilities;

.steps {
  position: sticky;
  top: 0;
  background: url(/public/ecommerce.mp4);
}
@media (max-width: 1200px) {
  .steps {
    position: static;
  }
}
